a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    position: relative;
    width: 300px;
    height: 500px;

    border-radius: 30px;
    background-color: #ddd;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn__group {
    position: absolute;
    bottom: 200px;
    display: flex;
}

.btn {
    margin-left: 5px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: aliceblue;
}